<!DOCTYPE html>
<html lang="en" ng-app="todoList">

<head>
    <meta charset="UTF-8">
    <title>AngularJS Class</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/todoList.css" />
</head>

<body class="ng-cloak">
    <div class="container" ng-controller="TodoListController as tdc">


        <div class="jumbotron" id="todoApp">
            <header>
                <h2 class="text-center">TODO LIST APPLICATION</h2>
            </header>
            <section class="margin-bottom">
                <form name="frm" ng-submit="tdc.addTask();" class="form-inline">
                    <div class="from-group">
                        <input type="text" ng-model="tdc.newTask" required class="form-control" placeholder="Add New Task" />
                        <button class="btn btn-primary" ng-disabled="frm.$invalid" type="submit">Add Task</button>
                    </div>
                    
                </form>
            </section>
            <section ng-if="tdc.tasks.length > 0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th class="text-center">ID</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Completed</th>
                        <th class="text-center">Remove</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tdc.tasks">
                            <td class="text-center" ng-class="{'complete': task.isCompleted}">{{ $index + 1 }}</td>
                            <td class="text-center" ng-class="{'complete': task.isCompleted}">{{ task.name }}</td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="task.isCompleted" />
                            </td>
                            <td class="text-center"><a ng-click="tdc.removeTask(task);"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                    </tbody>
                </table> 
            </section>
            <div class="alerts">
                <div class="alert taskCount alert-info" ng-if="tdc.tasks.length > 0">
                    <strong>{{ tdc.remainCount() }}</strong> 
                    of 
                    <strong>{{ tdc.tasks.length }}</strong> 
                    remaining!
                </div>
                <p class="alert alert-success" ng-if="tdc.tasks.length == 0">No Task Added Yet!</p>
            </div>
        </div>

        
    </div>

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controller/todoList.controller.js"></script>
    
</body>

</html>
